<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include', {title:'로그인'}) %>
    <link rel="stylesheet" href="/static/loginup.css" />
  </head>
  <body>
    <div class="loginup-box">
      <h1>회원가입</h1>
      <form action="/loginup" name="form-loginup" method="POST">
        <!--이메일-->
        <div class="input-group mb-3">
          <span class="input-group-text" id="email">E-mail</span>
          <input
            type="email"
            name="email"
            class="form-control"
            aria-label="email input"
            aria-describedby="id"
          />
        </div>
        <!--이름-->
        <div class="input-group mb-3">
          <span class="input-group-text" id="name">NAME</span>
          <input
            type="text"
            name="name"
            class="form-control"
            aria-label="name input"
            aria-describedby="id"
          />
        </div>
        <!--아이디-->
        <div class="input-group mb-3">
          <span class="input-group-text" id="userid">ID</span>
          <input
            type="text"
            name="id"
            class="form-control"
            aria-label="userid input"
            aria-describedby="userid"
          />
        </div>
        <!--비번-->
        <div class="input-group mb-3">
          <span class="input-group-text" id="pw">PW</span>
          <input
            type="password"
            name="pw"
            class="form-control"
            aria-label="pw input"
            aria-describedby="pw"
          />
        </div>
        <button type="button" onclick="loginup();" class="btn btn-warning mb-3">
          회원가입
        </button>
        <br /><a href="/">홈으로 이동</a>
      </form>
    </div>

    <script>
      function register() {
        const form = document.forms["form_loginup"];
        //input에 값을 입력하지 않았을 때
        if (!form.checkValidity()) {
          //오류메세지를 보여주지는 않음
          form.reportValidity(); // 오류 메세지를 보여주지만 서식 전송을 하지 않음
          return;
        }

        axios({
          method: "POST",
          url: "/loginup",
          data: {
            email: form.email.value,
            userid: form.userid.value,
            pw: form.pw.value,
            name: form.name.value,
          },
        })
          .then((res) => {
            return res.data;
          })
          .then((data) => {
            console.log("create >> ", data);
            // (1) alert 띄우기
            alert("회원가입 성공");
            // (2) 가입 성공시 로그인 페이지로 이동
            // document.location.href란?
            // javascript에서 페이지 이동할 수 있는 방법
            // document 객체를 사용하기 때문에 프론트에서 사용 가능
            document.location.href = "/user/login";
          });
      }
    </script>
  </body>
</html>
