<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include', {title:'로그인'}) %>
    <link rel="stylesheet" href="/static/login.css" />
  </head>
  <body>
    <div class="login-box">
      <h1>로그인</h1>

      <form action="/login" name="form_login" method="POST">
        <div class="input-group mb-3">
          <span class="input-group-text" id="userid">ID</span>
          <input
            type="text"
            name="id"
            class="form-control"
            aria-label="userid input"
            aria-describedby="userid"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="pw">PW</span>
          <input
            type="password"
            name="pw"
            class="form-control"
            aria-label="pw input"
            aria-describedby="pw"
          />
        </div>
        <button type="button" onclick="login();" class="btn btn-warning mb-3">
          로그인
        </button>
        <br /><a href="/">홈으로 이동</a>
      </form>
    </div>
    <script>
      function login() {
        const form_login = document.forms["form_login"];

        if (!form_login.checkValidity()) {
          form_login.reportValidity();
          return;
        }

        axios({
          method: "POST",
          url: "/login",
          data: {
            userid: form_login.userid.value,
            pw: form_login.pw.value,
          },
        })
          .then((res) => {
            return res.data;
          })
          .then((data) => {
            console.log("post profile >>", data); // true or false
            if (data) {
              // true
              // (1) alert 띄우기
              alert("로그인 성공");
              // (2) form_info 폼 선택
              const form_info = document.forms["form_info"];
              // (3) form_login의 userid 값을 form_ingo의 userid value에 저장
              form_info.userid.value = form_login.userid.value;
              // (4) form_info 제출
              // form[name="form_info"] 요소의 method와 action 속성 값에 의해
              // POST /user/profile 요청을 수행
              // <button type="submit> 을 누른 것과 동일한 효과 => 얘만 일반 폼 전송
              form_info.submit();
            } else {
              // false
              // (1) alert 띄우기
              alert("로그인 실패");
              // (2) form_info 초기화 (제출 안함)
              form_login.reset();
            }
          });
      }
    </script>
  </body>
</html>
