<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.socket.io/4.6.0/socket.io.min.js"
      integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <link rel="stylesheet" href="/static/index.css" />
    <title>My chat</title>
  </head>

  <body>
    <h1 class="entry-title">당신의 개인 법률 상담사 CHAT-FOURMEN</h1>
    <!--[실습 3-2] 채팅장 입장 안내 문구 socket.id-> nickname -->
    <div class="entry-box">
      <input
        class="nickname"
        type="text"
        id="nickname"
        placeholder="Nickname"
        autofocus
        onkeypress="if(window.event.keyCode==13){entry()}"
      />
      <button type="button" onclick="entry()">입장</button>
    </div>

    <div class="chat-box d-none">
      <div id="chat-list" class="chat-list"></div>

      <div class="send-box">
        <select id="nick-list" class="send-select"></select>
        <input
          class="send-input"
          type="text"
          id="message"
          onkeypress="if(window.event.keyCode==13){send()}"
        />
        <button type="button" onclick="send()" class="send-button">전송</button>
      </div>
    </div>

    <!-- [실습1] 각 버튼을 누를 때 마다 서버로 메세지 보내기-->
    <!-- <button onclick="sayHello();">hello</button>
    <button onclick="sayStudy();">study</button>
    <button onclick="sayBye();">bye</button>
    <p id="form-server"></p> -->

    <script src="/static/index.js"></script>
  </body>
</html>
