<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>파일 업로드</title>
  </head>
  <body>
    <h1>파일 업로드</h1>

    <!-- multer는 multerpart가 아닌 폼에서는 동작하지 않음!!-->
    <h2>하나의 input에 하나의 파일 업로드</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="userfile" /><br />
      <input type="text" name="title" /><br /><br />
      <button type="submit">업로드</button>
    </form>

    <h2>하나의 input에 여러개의 파일 업로드</h2>
    <form action="/upload/array" method="POST" enctype="multipart/form-data">
      <input type="file" name="userfiles" multiple /><br />
      <input type="text" name="title" /><br /><br />
      <button type="submit">업로드</button>
    </form>

    <h2>Multi file upload ver.2</h2>
    <form action="/upload/fields" method="POST" enctype="multipart/form-data">
      <input type="file" name="userfile1" /><br />
      <input type="text" name="title1" /><br /><br />
      <input type="file" name="userfile2" /><br />
      <input type="text" name="title2" /><br /><br />
      <button type="submit">업로드</button>
    </form>

    <h2>실습하기</h2>
    <form name="login" action="/result">
      <input type="text" id="userId" name="userId" placeholder="아이디" />
      <br />

      <input type="password" id="userPw" name="userPw" placeholder="비번" />
      <br />

      <input type="text" name="username" id="username" placeholder="이름" />
      <br />

      <input type="number" name="old" id="old" placeholder="나이" />
      <br />
      <form action="/upload/array" method="POST" enctype="multipart/form-data">
        <input type="file" name="userfiles" multiple /><br />
        <input type="text" name="title" /><br /><br />
        <button type="submit">업로드</button>
      </form>
    </form>
  </body>
</html>
